@font-face {
  font-family: "EarlyFontDiary";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
.Topbar * {
  font-family: "EarlyFontDiary";
}
.dropdown a {
  font-size: 1.1rem;
}
.Topbar {
  border-bottom: 1.5px rgb(209, 209, 209) solid;
  background: white;
  position: sticky;
  top: 0%;
  z-index: 9999;
}

.Topbar_logo {
  max-width: 975px;
  margin: 0 auto;
}
a {
  font-weight: bolder;
}
.search {
  margin: 0 120px;
  position: relative;
  width: 250px;
}

.search > input {
  text-align: center;
  outline: none;
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
}

.search > button > img {
  margin-left: 100px;
  position: absolute;
  width: 20px;
  top: 10px;
  right: 10px;
  margin: 0;
}
.searchBox {
  position: absolute;
  z-index: 999;
  margin-top: 13px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.377),
    5px 5px 5px 5px rgb(202, 202, 202);
  background-color: white;
  width: 350px;
  height: 300px;
  left: -40px;
  right: auto;
}
.img-Box {
  width: 100%;
  height: 50px;
}
.img-Box > a,
.img-Box > a > img {
  border-radius: 50%;
}
.img-Box > a > img {
  width: 100%;
  height: 50px;
  display: block;
}
.searchedBox ul,
.searchedBox li {
  list-style: none;
}
.searchedBox li {
  list-style: none;
  display: block;
  height: 75px;
}
.searchedBox {
  height: 267px;
  flex-direction: column;
  overflow: auto;
}
.searchedName,
.searchedId {
  margin-left: 15px;
  margin-top: 2px;
}
.searchedName {
  font-size: 1.1rem;
  font-weight: bolder;
}
